/* Main container for the form */
.Customer_form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Main form styling */
.customer_registration {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  width: 60%;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  min-height: 420px;
}

/* Form heading */
.heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Input group styling */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  font-size: 16px;
  color: #555;
}

/* Submit button styling */
.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

button {
  padding: 12px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  width: 20%;
  margin-top: 10px;
}

button:hover {
  background-color: #357abd;
}


/* Product row styling */
.product-input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  width: 820px;
}

/* Product input fields */
.product-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: rgb(250, 250, 250);
}

/* Add product button */
.products-section .add-product-button {
  color: #3498db; /* Match your main theme color or another accent color */
  background-color: transparent; /* Removes background */
  border: none; /* Removes any border */
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: right; /* Centers the icon horizontally */
  align-items: center; /* Centers the icon vertically */
  padding: 5px; /* Optional: add some padding */
  transition: color 0.3s ease; /* Adds hover effect */
  width: 30px;
}

.products-section .add-product-button:hover {
  color: #357abd; /* Darken the icon color on hover */
}


.products-section .remove-product-button {
  color: red; /* Icon color */
  background-color: transparent; /* Removes background */
  border: none; /* Removes border */
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px;
  transition: color 0.3s ease;
  width: 30px;
}

.products-section .remove-product-button:hover {
  color: darkred; /* Darker red on hover */
}
