/* Base styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .forget-password-container {
    display: flex;
    height: 100vh;
  }
  
  /* Background Image (Left Side) */
  .forget-password-background {
    width: 60%;
    background-color: #9dc7e0;
  }
  
  .forget-password-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
  }
  
  /* Forget Password Form (Right Side) */
  .forget-password-form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
    padding: 30px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .forget-password-form {
    width: 80%;
    padding: 30px;
  }
  
  /* Logo Styling */
  .forget-password-logo {
    display: flex;
    gap: 10px;

  }
  
  .forget-password-logo .logo{
    width: 80px;
    height: 80px;
  }
  
  .company-Name {
    font-size: 1.5rem;
    color: #1e3a8a;
  }
  
  /* Form Styling */
  .forget-password-form h3 {
    font-size: 27.154px;
    color: rgb(1, 98, 232);
    text-align: left;
  }
  
  .forget-password-form label {
    color: rgb(3, 27, 78);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .forget-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .forget-password-form input:focus {
    border: 1px solid #d1d5db;
    outline: none; 
  }
  
  /* Reset Button Styling */
  .reset-button {
    max-width: 999px; /* Set a fixed max width */
    width: 105%;
    background-color: rgb(1, 98, 232);
    border: 1px solid rgb(1, 98, 232);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    text-align: center;
    transition: 0.15s ease-in-out;
  }
  
  .reset-button:hover {
    background-color: rgb(0, 85, 200);
  }
  
  /* Links Styling */
  .password-options a {
    color: rgb(59, 72, 99);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .password-options a:hover {
    text-decoration: underline;
  }
  
  .password-options {
    margin-top: 40px;
    font-size: 14px;
  }
  
  /* Responsive Design */
  
  /* When the screen is 750px or smaller, hide the background image */
  @media (max-width: 750px) {
    .forget-password-background {
      display: none;
    }
    .forget-password-form-container {
      width: 100%;
    }

  }
  
  /* Mobile View: Add border to form */
  @media (max-width: 480px) {
    .forget-password-form {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 30px;
    }
  
    .forget-password-logo .logo {
      width: 50px;
      height: 50px;
    }
  
    .company-Name {
      font-size: 1.2rem;
    }
  
    .forget-password-logo {
      margin-bottom: 50px;
    }
  
    .forget-password-form-container {
      width: 80%;
      padding: 2%;
    }
  }
  
  