.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.login-box {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.company-name {
  font-weight: bold;
}

.page-title {
  text-align: center;
  margin-bottom: 12px;
}

.text_field {
  margin-bottom: 24px;
  border: none;
}

.login-box .sign-in-button {
  height: 45px;
  width: 100%; /* Makes button span the container */
  text-align: center;
  display: flex; /* Ensures proper centering */
  justify-content: center;
  align-items: center; /* Centers content vertically */
  padding: 0 16px;
  box-sizing: border-box; /* Includes padding within the width */
  max-width: 400px; /* Optional: Set a max-width if needed */
}



.link {
  text-decoration: none;
  color: #3f51b5;
}

.login-with-google {
  text-align: center;
}

.login-box .google-button {
  height: 45px;
  width: 100%;
  border-color: #db4437;
  color: #db4437;
}

.google-button:hover{
  background-color: white;
}


